#include <dt-bindings/zmk/matrix_transform.h>



&xiao_spi {
	compatible = "nordic,nrf-spim";
	cs-gpios = <&xiao_d 7 GPIO_ACTIVE_LOW>;
	status = "okay";
	pinctrl-0 = <&xiao_spi_default>;
	pinctrl-1 = <&xiao_spi_sleep>;
	pinctrl-names = "default", "sleep";
	trackball: trackball@0 {
		compatible = "pixart,pmw3360";
		status = "okay";
		reg = <0>;
		label = "TRACKBALL";
		spi-max-frequency = <2000000>;
		irq-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		//duplex = <2048>; // required by 3-wire spi
	};
};
/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};
	
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-charlieplex";
		label = "KSCAN";

        
        	gpios
          	= <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >
          	, <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >
          	, <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >
          	, <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >
		, <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >
          	, <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN) >
	  	;
	};


	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		rows = <2>;
		columns = <8>;
		map = <
			RC(0,4) RC(1,4) RC(2,4) RC(3,4) RC(4,0) RC(4,1) RC(4,2) RC(4,3)   
			RC(0,5) RC(1,5) RC(2,5) RC(3,5) RC(5,0) RC(5,1) RC(5,2) RC(5,3)
		>;
	};
};
