
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        g {
            bindings = <&kp B>;
            key-positions = <12 15>;
            layers = <0>;
        };

        d {
            bindings = <&kp B>;
            key-positions = <8 11>;
            layers = <0>;
        };

        b {
            bindings = <&kp C>;
            key-positions = <12 13>;
            layers = <0>;
        };

        p {
            bindings = <&kp C>;
            key-positions = <11 10>;
            layers = <0>;
        };

        j {
            bindings = <&kp D>;
            key-positions = <4 5 6>;
            layers = <0>;
        };

        z {
            bindings = <&kp D>;
            key-positions = <3 2 1>;
            layers = <0>;
        };

        c {
            bindings = <&kp F>;
            key-positions = <4 5>;
            layers = <0>;
        };

        v {
            bindings = <&kp F>;
            key-positions = <3 2>;
            layers = <0>;
        };

        x {
            bindings = <&kp G>;
            key-positions = <5 6>;
            layers = <0>;
        };

        l {
            bindings = <&kp G>;
            key-positions = <2 1>;
            layers = <0>;
        };

        f {
            bindings = <&kp H>;
            key-positions = <11 9>;
            layers = <0>;
        };

        q {
            bindings = <&kp H>;
            key-positions = <12 14>;
            layers = <0>;
        };

        comm {
            bindings = <&kp J>;
            key-positions = <7 6>;
            layers = <0>;
        };

        dot {
            bindings = <&kp J>;
            key-positions = <1 0>;
            layers = <0>;
        };

        lang {
            bindings = <&kp K>;
            key-positions = <13 15>;
            layers = <0>;
        };

        enter {
            bindings = <&kp K>;
            key-positions = <8 10>;
            layers = <0>;
        };

        tab {
            bindings = <&kp L>;
            key-positions = <13 14 12>;
            layers = <0>;
        };

        seven {
            bindings = <&kp L>;
            key-positions = <9 10 11>;
        };

        eight {
            bindings = <&kp M>;
            key-positions = <15 14 13>;
        };

        nine {
            bindings = <&kp M>;
            key-positions = <8 9 10>;
            layers = <1>;
        };

        bikkuri {
            bindings = <&kp N>;
            key-positions = <15 14>;
            layers = <0>;
        };

        migikakko {
            bindings = <&kp N>;
            key-positions = <8 9>;
            layers = <0>;
        };

        hidarikakko {
            bindings = <&kp P>;
            key-positions = <15 14 12>;
            layers = <0>;
        };

        nakatenslashhatena {
            bindings = <&kp P>;
            key-positions = <8 9 11>;
            layers = <0>;
        };

        quoteanddouble {
            bindings = <&kp Q>;
            key-positions = <7 6 4>;
            layers = <0>;
        };

        backquote {
            bindings = <&kp Q>;
            key-positions = <3 0 1>;
        };

        persent {
            bindings = <&kp U>;
            key-positions = <14 13>;
        };

        uuu {
            bindings = <&kp U>;
            key-positions = <9 10>;
        };

        vv {
            bindings = <&kp V>;
            key-positions = <5 7>;
        };

        vvv {
            bindings = <&kp V>;
            key-positions = <0 2>;
        };

        ww {
            bindings = <&kp W>;
            key-positions = <7 4>;
        };

        wwww {
            bindings = <&kp W>;
            key-positions = <0 3>;
        };

        xxxx {
            bindings = <&kp X>;
            key-positions = <5 6 7>;
        };

        xxxxxxx {
            bindings = <&kp X>;
            key-positions = <0 1 2>;
        };

        nzzzzz {
            bindings = <&kp Z>;
            key-positions = <4 5 6 7>;
        };

        zzzzzzz {
            bindings = <&kp Z>;
            key-positions = <0 1 2 3>;
        };

        iiii {
            bindings = <&kp EXCLAMATION>;
            key-positions = <6 14>;
        };

        iii {
            bindings = <&kp EXCLAMATION>;
            key-positions = <1 9>;
        };

        aaaaaa {
            bindings = <&kp QUESTION>;
            key-positions = <7 15>;
        };

        aaaaaaa {
            bindings = <&kp QUESTION>;
            key-positions = <0 8>;
        };

        eee {
            bindings = <&kp ENTER>;
            key-positions = <4 12>;
        };

        eeee {
            bindings = <&kp ENTER>;
            key-positions = <3 11>;
        };

        sss {
            bindings = <&kp SPACE>;
            key-positions = <12 13 14 15>;
        };

        spannnn {
            bindings = <&kp SPACE>;
            key-positions = <8 9 10 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // | SW1 | SW2 | SW3 | SW4 | SW5 | SW6 | SW7 | SW8 |  
            // | SW9 | SW10 | SW11 | SW12 | SW13 | SW14 | SW15 | SW16 |   
            // ------------------------------------------------------------------------------------------

            bindings = <
&kp Y  &kp T  &kp R  &kp A  &kp A  &kp R  &kp T  &kp S
&kp O  &kp I  &kp A  &kp E  &kp E  &kp Y  &kp I  &kp O
            >;
        };

        raise {
            bindings = <
&trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp SQT   &kp SEMICOLON  &trans    &kp PIPE
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp RBKT  &kp BACKSLASH  &kp HASH  &kp KP_DIVIDE
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp I   &kp I   &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&kp LC(F)  &kp LEFT_ALT    &kp UP_ARROW    &kp LEFT_WIN     &kp LC(Z)  &kp LC(A)  &kp LC(Y)  &kp LC(R)
&trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LC(V)  &kp LC(X)  &kp LC(C)  &kp LC(S)
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
