#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        g {
            bindings = <&kp G>;
            key-positions = <4 12>;
        };

        g2 {
            bindings = <&kp G>;
            key-positions = <2 10>;
        };

        d {
            bindings = <&kp D>;
            key-positions = <13 5>;
        };

        d2 {
            bindings = <&kp D>;
            key-positions = <2 10>;
        };

        j {
            bindings = <&kp J>;
            key-positions = <6 14>;
        };

        j2 {
            bindings = <&kp J>;
            key-positions = <1 9>;
        };

        b {
            bindings = <&kp B>;
            key-positions = <7 15>;
        };

        b2 {
            bindings = <&kp B>;
            key-positions = <0 8>;
        };

        h {
            bindings = <&kp H>;
            key-positions = <4 5>;
        };

        h2 {
            bindings = <&kp H>;
            key-positions = <3 2>;
        };

        s {
            bindings = <&kp S>;
            key-positions = <6 7>;
        };

        s2 {
            bindings = <&kp S>;
            key-positions = <0 1>;
        };

        r {
            bindings = <&kp R>;
            key-positions = <13 12>;
        };

        r2 {
            bindings = <&kp R>;
            key-positions = <11 10>;
        };

        y {
            bindings = <&kp Y>;
            key-positions = <14 15>;
        };

        y2 {
            bindings = <&kp Y>;
            key-positions = <8 9>;
        };

        m {
            bindings = <&kp M>;
            key-positions = <5 6>;
        };

        m2 {
            bindings = <&kp M>;
            key-positions = <2 1>;
        };

        w {
            bindings = <&kp W>;
            key-positions = <14 13>;
        };

        w2 {
            bindings = <&kp W>;
            key-positions = <10 9>;
        };

        f {
            bindings = <&kp F>;
            key-positions = <4 7>;
        };

        f2 {
            bindings = <&kp F>;
            key-positions = <3 0>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <15 12>;
        };

        p2 {
            bindings = <&kp P>;
            key-positions = <8 11>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <4 6>;
        };

        z2 {
            bindings = <&kp Z>;
            key-positions = <3 1>;
        };

        x {
            bindings = <&kp X>;
            key-positions = <5 7>;
        };

        x2 {
            bindings = <&kp X>;
            key-positions = <0 2>;
        };

        c {
            bindings = <&kp C>;
            key-positions = <12 14>;
        };

        c2 {
            bindings = <&kp C>;
            key-positions = <11 9>;
        };

        v {
            bindings = <&kp V>;
            key-positions = <15 13>;
        };

        v2 {
            bindings = <&kp V>;
            key-positions = <8 10>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <4 5 7>;
        };

        q2 {
            bindings = <&kp Q>;
            key-positions = <0 2 3>;
        };

        l {
            bindings = <&kp L>;
            key-positions = <12 13 15>;
        };

        l2 {
            bindings = <&kp L>;
            key-positions = <8 10 11>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <13 14 15>;
        };

        enter2 {
            bindings = <&kp ENTER>;
            key-positions = <10 9 8>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <13 12 14>;
        };

        space2 {
            bindings = <&kp SPACE>;
            key-positions = <11 10 9>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <5 6 7>;
        };

        back2 {
            bindings = <&kp BACKSPACE>;
            key-positions = <0 1 2>;
        };

        hankaku {
            bindings = <&kp GRAVE>;
            key-positions = <4 5 6>;
        };

        hankaku2 {
            bindings = <&kp GRAVE>;
            key-positions = <3 2 1>;
        };

        haihun {
            bindings = <&kp MINUS>;
            key-positions = <15 14 15 14 13 12>;
        };

        haihun2 {
            bindings = <&kp MINUS>;
            key-positions = <11 10 9 8>;
        };

        conm {
            bindings = <&kp COMMA>;
            key-positions = <13 4>;
        };

        conm2 {
            bindings = <&kp COMMA>;
            key-positions = <3 10>;
        };

        dot {
            bindings = <&kp PERIOD>;
            key-positions = <12 5>;
        };

        dot2 {
            bindings = <&kp PERIOD>;
            key-positions = <2 11>;
        };

        bikkuri {
            bindings = <&kp EXCLAMATION>;
            key-positions = <6 15>;
        };

        bikkuri2 {
            bindings = <&kp EXCLAMATION>;
            key-positions = <1 8>;
        };

        hatena {
            bindings = <&kp QUESTION>;
            key-positions = <7 14>;
        };

        hatena2 {
            bindings = <&kp QUESTION>;
            key-positions = <0 9>;
        };

        layer2 {
            bindings = <&to 2>;
            key-positions = <4 5 7 6>;
        };

        layer {
            bindings = <&to 2>;
            key-positions = <3 2 1 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // | SW1 | SW2 | SW3 | SW4 | SW5 | SW6 | SW7 | SW8 |  
            // | SW9 | SW10 | SW11 | SW12 | SW13 | SW14 | SW15 | SW16 |   
            // ------------------------------------------------------------------------------------------

            bindings = <
&kp K  &kp T  &kp U  &kp N  &kp N  &kp U  &kp T  &kp K
&kp E  &kp I  &kp A  &kp O  &kp O  &kp A  &kp I  &kp E
            >;
        };

        raise {
            bindings = <
&trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp COLON  &kp SEMICOLON  &trans    &kp PIPE
&kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp RBKT   &kp BACKSLASH  &kp HASH  &kp BACKSLASH
            >;
        };

        layer_2 {
            bindings = <
&to 0  &to 0  &mkp MB2  &mkp MB1  &mkp MB1  &mkp MB2  &to 0  &to 0
&to 0  &to 0  &to 0     &to 0     &to 0     &to 0     &to 0  &to 0
            >;
        };

        layer_3 {
            bindings = <
&kp LC(F)  &kp LEFT_ALT    &kp UP_ARROW    &kp LEFT_WIN     &kp LC(Z)  &kp LC(A)  &kp LC(Y)  &kp LC(R)
&trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LC(V)  &kp LC(X)  &kp LC(C)  &kp LC(S)
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
