#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        g {
            bindings = <&kp G>;
            key-positions = <4 12>;
            layers = <0>;
        };

        g2 {
            bindings = <&kp G>;
            key-positions = <3 11>;
            layers = <0>;
        };

        d {
            bindings = <&kp D>;
            key-positions = <13 5>;
            layers = <0>;
        };

        d2 {
            bindings = <&kp D>;
            key-positions = <2 10>;
            layers = <0>;
        };

        j {
            bindings = <&kp J>;
            key-positions = <6 14>;
            layers = <0>;
        };

        j2 {
            bindings = <&kp J>;
            key-positions = <1 9>;
            layers = <0>;
        };

        b {
            bindings = <&kp B>;
            key-positions = <7 15>;
            layers = <0>;
        };

        b2 {
            bindings = <&kp B>;
            key-positions = <0 8>;
            layers = <0>;
        };

        h {
            bindings = <&kp H>;
            key-positions = <12 13>;
            layers = <0>;
        };

        h2 {
            bindings = <&kp H>;
            key-positions = <11 10>;
            layers = <0>;
        };

        s {
            bindings = <&kp S>;
            key-positions = <5 4>;
            layers = <0>;
        };

        s2 {
            bindings = <&kp S>;
            key-positions = <2 3>;
            layers = <0>;
        };

        r {
            bindings = <&kp R>;
            key-positions = <5 6>;
            layers = <0>;
        };

        r2 {
            bindings = <&kp R>;
            key-positions = <2 1>;
            layers = <0>;
        };

        y {
            bindings = <&kp Y>;
            key-positions = <14 15>;
            layers = <0>;
        };

        y2 {
            bindings = <&kp Y>;
            key-positions = <8 9>;
            layers = <0>;
        };

        m {
            bindings = <&kp M>;
            key-positions = <14 13>;
            layers = <0>;
        };

        m2 {
            bindings = <&kp M>;
            key-positions = <10 9>;
            layers = <0>;
        };

        w {
            bindings = <&kp W>;
            key-positions = <7 6>;
            layers = <0>;
        };

        w2 {
            bindings = <&kp W>;
            key-positions = <1 0>;
        };

        f {
            bindings = <&kp F>;
            key-positions = <4 7>;
            layers = <0>;
        };

        f2 {
            bindings = <&kp F>;
            key-positions = <3 0>;
            layers = <0>;
        };

        p {
            bindings = <&kp P>;
            key-positions = <15 12>;
            layers = <0>;
        };

        p2 {
            bindings = <&kp P>;
            key-positions = <8 11>;
            layers = <0>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <4 6>;
            layers = <0>;
        };

        z2 {
            bindings = <&kp Z>;
            key-positions = <3 1>;
            layers = <0>;
        };

        x {
            bindings = <&kp X>;
            key-positions = <5 7>;
            layers = <0>;
        };

        x2 {
            bindings = <&kp X>;
            key-positions = <0 2>;
        };

        c {
            bindings = <&kp C>;
            key-positions = <12 14>;
            layers = <0>;
        };

        c2 {
            bindings = <&kp C>;
            key-positions = <11 9>;
            layers = <0>;
        };

        v {
            bindings = <&kp V>;
            key-positions = <15 13>;
            layers = <0>;
        };

        v2 {
            bindings = <&kp V>;
            key-positions = <8 10>;
            layers = <0>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <4 7 6>;
        };

        q2 {
            bindings = <&kp Q>;
            key-positions = <0 3 1>;
            layers = <0>;
        };

        l {
            bindings = <&kp L>;
            key-positions = <12 15 14>;
            layers = <0>;
        };

        l2 {
            bindings = <&kp L>;
            key-positions = <8 11 9>;
            layers = <0>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <13 14 15>;
            layers = <0>;
        };

        enter2 {
            bindings = <&kp ENTER>;
            key-positions = <10 9 8>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <13 12 14>;
        };

        space2 {
            bindings = <&kp SPACE>;
            key-positions = <11 10 9>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <5 6 7>;
        };

        back2 {
            bindings = <&kp BACKSPACE>;
            key-positions = <0 1 2>;
        };

        hankaku {
            bindings = <&kp GRAVE>;
            key-positions = <4 5 6>;
            layers = <0>;
        };

        hankaku2 {
            bindings = <&kp GRAVE>;
            key-positions = <3 2 1>;
            layers = <0>;
        };

        conm {
            bindings = <&kp COMMA>;
            key-positions = <13 4>;
            layers = <0>;
        };

        conm2 {
            bindings = <&kp COMMA>;
            key-positions = <3 10>;
            layers = <0>;
        };

        dot {
            bindings = <&kp PERIOD>;
            key-positions = <12 5>;
            layers = <0>;
        };

        dot2 {
            bindings = <&kp PERIOD>;
            key-positions = <2 11>;
            layers = <0>;
        };

        bikkuri {
            bindings = <&kp EXCLAMATION>;
            key-positions = <6 15>;
            layers = <0>;
        };

        bikkuri2 {
            bindings = <&kp EXCLAMATION>;
            key-positions = <1 8>;
            layers = <0>;
        };

        hatena {
            bindings = <&kp QUESTION>;
            key-positions = <7 14>;
            layers = <0>;
        };

        hatena2 {
            bindings = <&kp QUESTION>;
            key-positions = <0 9>;
            layers = <0>;
        };

        haihuni {
            bindings = <&kp MINUS>;
            key-positions = <15 4>;
            layers = <0>;
        };

        haihuniii {
            bindings = <&kp MINUS>;
            key-positions = <3 8>;
            layers = <0>;
        };

        seven {
            bindings = <&kp KP_N7>;
            key-positions = <4 5>;
            layers = <1>;
        };

        seventwo {
            bindings = <&kp KP_N7>;
            key-positions = <3 2>;
            layers = <1>;
        };

        eight {
            bindings = <&kp KP_N8>;
            key-positions = <5 6>;
            layers = <1>;
        };

        eighttwo {
            bindings = <&kp KP_N8>;
            key-positions = <2 1>;
            layers = <1>;
        };

        nine {
            bindings = <&kp KP_N9>;
            key-positions = <13 12>;
            layers = <1>;
        };

        ninetwo {
            bindings = <&kp KP_N9>;
            key-positions = <11 10>;
            layers = <1>;
        };

        zero {
            bindings = <&kp KP_N0>;
            key-positions = <13 14>;
            layers = <1>;
        };

        zerotwo {
            bindings = <&kp KP_N0>;
            key-positions = <9 10>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // | SW1 | SW2 | SW3 | SW4 | SW5 | SW6 | SW7 | SW8 |  
            // | SW9 | SW10 | SW11 | SW12 | SW13 | SW14 | SW15 | SW16 |   
            // ------------------------------------------------------------------------------------------

            bindings = <
&lt 1 K  &lt 2 T  &kp U  &lt 4 N  &lt 4 N  &kp U  &lt 2 T  &lt 1 K
&lt 3 E  &kp I    &kp A  &lt 5 O  &lt 5 O  &kp A  &kp I    &lt 3 E
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp KP_N3  &kp KP_N2  &kp KP_N1  &kp KP_N1  &kp KP_N2  &kp KP_N3  &trans
&none   &kp KP_N6  &kp KP_N5  &kp KP_N4  &kp KP_N4  &kp KP_N5  &kp KP_N6  &none
            >;
        };

        layer_2 {
            bindings = <
&to 0  &to 0  &mkp MB2  &mkp MB1  &mkp MB1  &mkp MB2  &to 0  &to 0
&to 0  &to 0  &to 0     &to 0     &to 0     &to 0     &to 0  &to 0
            >;
        };

        layer_3 {
            bindings = <
&kp LC(F)  &kp LEFT_ALT    &kp UP_ARROW    &kp LEFT_WIN     &kp LC(Z)  &kp LC(A)  &kp LC(Y)  &kp LC(R)
&trans     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LC(V)  &kp LC(X)  &kp LC(C)  &kp LC(S)
            >;
        };

        layer_4 {
            bindings = <
&kp LS(RBKT)  &kp RBKT  &kp LS(N8)  &trans  &trans  &kp LS(N8)  &kp RBKT  &kp LS(RBKT)
&kp LS(NUHS)  &kp NUHS  &kp LS(N9)  &trans  &trans  &kp LS(N9)  &kp NUHS  &kp LS(NUHS)
            >;
        };

        layer_5 {
            bindings = <
&kp LS(LBKT)  &kp LS(N2)  &kp LS(N7)  &trans  &trans  &kp LS(N7)  &kp LS(N2)  &kp LS(LBKT)
&kp LS(INT1)  &kp SEMI    &kp SQT     &trans  &trans  &kp SQT     &kp SEMI    &kp LS(INT1)
            >;
        };
    };
};
